body
{
    width: 100%;
    margin: 0;
    height: auto;
    background-color:#e2e2e2;
}

header
{
   
    width: 100%;
    height: 200px;
    background: #1874cd;  
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px #222;
}

.menu
{
    height: 60px;
    background-color: #1874cd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgBalan
{
    width: 650px;
    height: 430px;
}



.M
{
    margin-left: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.M a
{
    
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-family: Chelsea Market;
   
}

.M a li
{
    color: #f1f1f1;
    list-style: none;
}

.M a:hover
{
   background-color: #1ac2de;
    border-radius: 10px;
    
}

.imagem
{
    height: 200px;
    background-image: url(../img/banner4.jpg);
    display: flex;
    background-size: 100%;
    background-position: center;
    align-items: flex-end;
}

.imagem h1
{
    width: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    font-family: Chelsea Market;
    color: #eee;
}


.tela
{
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10%;
}

.lateral
{
    display: flex;
    width: 20%;
    height: 1200px;
    border-radius: 8px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 5px #999;
  
}

.noticia
{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 8px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 5px #999;
    margin-left: 5%;
}

.noticia h1
{
    color: #333;
    text-align: center;
    width: 70%;
    margin-top: 40px;
    font-family: Chelsea Market;
}

.texto2
{
    width: 80%;
    padding: 2%;
    border-left: 2px solid darkslateblue;
    color: #333;
    line-height: 23px;
    font-size: 13px;
    font-family: Roboto;
}

.textoD
{
    width: 80%;
    padding: 2%;
    border-left: 2px solid darkslateblue;
    color: #333;
    font-family: Roboto;
}

.textoD p
{
    color: #777;
    font-size: 14px;
}

.texto
{
    width: 80%;
    color: #333;
    font-family: Roboto;
    margin-top: 6%;
    margin-bottom: 6%;
    line-height: 30px;
  
}

.textoC
{
    width: 80%;
    color: #333;
    font-family: Roboto;
    margin-top: 0%;
    line-height: 30px;
  
}

.subT
{
    width: 80%;
    color: #555;
    font-family: Chelsea Market;
    text-align: center;
    margin-bottom: 10%;
    
}

.id
{
    border-radius: 5px;
    box-shadow: 0px 0px 3px #555;
}

.ncartas
{
    border-radius: 5px;
    box-shadow: 0px 0px 3px #555;
    width: 500px;
    height: 450px;
}

iframe
{
    margin-bottom: 10%;
}


footer
{
    margin-top: 10%;
    width: 100%;
    height: 150px;
    border-top: 4px solid darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #1874cd;
}

footer p
{
    color: #f1f1f1;
    font-family: Roboto;
}

footer img
{
    width: 80px;
}






@media (max-width:800px)
{

    header
    {
        height: 410px;
    }
    
    .imagem
    {
        height: 200px;
        background-size: 450px;
        display: flex;
        align-items: flex-end;
    }
    
    .M
    {
        width: 100%;
        margin-top: 21%;
        margin-left: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    
    }

    .M a
    {
        width: 150px;
        height: 30px;
        display: flex;
        background-color: darkslateblue;
        border-radius: 10px;
        margin-top: 2px;
        text-align: center;
        align-items: center;
        text-decoration: none;
        font-family: Chelsea Market;
    }

    .M a li
    {
        color: #f1f1f1;
        list-style: none;
    }

    .M a:hover
    {
        background-color: #1ac2de;
        border-radius: 10px;

    }
    
    .imagem h1
    {
        
        font-size: 23px;
    }
    
    .imgBalan
    {
        width: 300px;
        height: 220px;
    }


}

@media (max-width:440px)
{
     .imgBalan
    {
        width: 70px;
        height: 30px;
    }
  
    .M
    {
        margin-left: 0;
        width: 100%;
        margin-top: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    
    }
    
     .imagem
    {
        height: 200px;   
        background-size: 450px;
        display: flex;
        background-position: center;
        align-items: flex-end;
    }

    .Ntex 
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 550px;
        font-size: 10px;
    }
    
     .imagem h1
    {
        
        font-size: 0px;
       
    }
    

    
    
}

@media (max-width:1200px)
    
    .imgBalan
    {
        width: 300px;
        height: 100px;
    }
    
     .imagem
    {
        height: 200px;
        background-size: 1200px;
        display: flex;
        background-position: center;
        align-items: flex-end;
    }
}

